@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --ff-rale: 'Raleway', sans-serif;
    --bg-color: #040b14;
    --bg-section: #f5f8fd;
    --bs-link-color: #0d6efd;
    --mtxt: #173b6c;
    --ltxt: #272829;
    --underLine: #149ddd;
}


header {
    background-color: var(--bg-color);
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0;
}

.header-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header-one img {
    border-radius: 500px;
    border: 8px solid rgba(255, 255, 255, 0.211);
}

.icon-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 0.5em;
}

.icon {
    max-width: 4em;
    padding: 0.7rem;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 0.122);
    width: 2.5em;
    text-align: center;
    height: 2.5em;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--underLine);
    transition: 0.3s ease-in;
}

.header-two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
    padding-left: 3em;
    font-family: var(--ff-secondary);
}

.header-two a {
    text-decoration: none;
    color: var(--bg-section);
    opacity: 0.7;
    transition: 0.2s ease-out;

}

.header-two a:hover {
    color: var(--bg-section);
    opacity: 1;
}

.header-two a:hover i {
    color: var(--underLine);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: var(--ff-secondary);
    font-size: 0.8em;
    margin-top: 0.8em;
}

.hero {
    display: flex;
    width: auto;
    justify-content: flex-end;
    height: auto;
}

.main-container {
    width: 80%;

}

.m-container {
    max-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
        url(/img/bg.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #0d6efd; */
}

.m-container h2 p {
    position: relative;

}



.details {
    position: absolute;
    right: 40em;
    bottom: 25em;
    width: fit-content;
}

.details h2 {
    font-weight: 800;
    font-size: 3.5em;
}

.details p {
    font-weight: 500;
    font-size: 1.5em;
}

section {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


.about-container {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.about-one h2 {
    font-family: var(--ff-rale);
    color: var(--mtxt);
    font-size: 1.5em;
}

.about-two ul {
    list-style: none;
    font-family: var(--ff-secondary);
}

.about-two ul li::before {
    content: ">";
    color: var(--underLine);
    margin-right: 7px;
    font-size: 20px;
}

.flex-details {
    display: flex;
    gap: 15em;
    line-height: 2;
}

.fact-data {
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    align-items: center;
    text-align: center;

}

.facts-icons {
    color: var(--underLine);
    font-size: 3.5em;
}

.test {
    display: flex;
}

.icon-container span {
    font-size: 2em;
    font-weight: 800;
}

.skills {
    background-color: var(--bg-section);
    padding-bottom: 4em;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.skill-main {
    width: 90%;
}

.skill-know {
    height: 8px;
    width: 100%;
    background-color: gray;
    margin: 14px 0;
}

.percentage {
    width: 90%;
    background-color: var(--underLine);
    height: 8px;
}

.skill-name {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.skills-right {
    width: 50%;
}

.skills-left {
    width: 50%;
}


.resume-container {
    display: flex;
    width: 100%;
}

.resume-left-container {
    width: 50%;
}

.resume-right-container {
    width: 50%;
}

.summary-container {
    border-left: 2px solid var(--underLine);
    padding: 0.1em 1em;
    margin: 1em 0;
}

.summary-container ul {
    padding-left: 1.5em;
    line-height: 1.7;
}

.summary-container span {
    background-color: #e4edf9;
    font-family: var(--ff-rale);
    padding: 0.3em 0.5em;
    color: black;
    font-weight: 500;
}

.main-summaryc {
    position: relative;
}

.summary-container::before {
    content: "";
    background-color: white;
    border-radius: 100%;
    border: 2px solid var(--underLine);
    top: 2.5em;
    left: -0.4em;
    position: absolute;
    width: 11px;
    height: 11px;
}

/* .test1::after{
    content: "";
    background-color: white;
    border-radius: 100%;
    border: 2px solid var(--underLine);
    bottom: 10;
    right: -15;
    position: absolute;
    width: 11px;
    height: 11px;
} */

#portfolio {
    background-color: var(--bg-section);
    padding-bottom: 5em;
}

.image-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    /* padding: 3em 0; */
}

.btn-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-bg {
    background-color: white;
    padding: 0.7em;
    border-radius: 100px;
    margin: 2em 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-bg button {
    border: none;
    padding: 0.2em;
    background-color: white;
    font-family: var(--ff-secondary);
    font-weight: 500;
    margin: 0 0.5em;

}

.btn-bg button:hover {
    color: var(--underLine);
    cursor: pointer;
}

.btn-bg button.active {
    color: var(--underLine);
}

.service-row {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 3em;
}

.s-card {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    width: 33%;
}

.s-txt-wrap h2 {
    color: var(--mtxt);
}

.s-txt-wrap p {
    margin: 0.7em 0;
    font-size: 0.9em;
}

.service-icon {
    border: 1px solid var(--underLine);
    font-size: 1.7em;
    background-color: var(--underLine);
    color: white;
    padding: 0.5em;
    border-radius: 500px;
    transition: 0.4s ease-out;
}

.s-card:hover .service-icon {
    background-color: white;
    color: var(--underLine);
}

.service-container {
    padding-bottom: 5em;
}

.link-hover {
    text-decoration: none;
    cursor: pointer;
}

.link-hover:hover h2 {
    color: var(--underLine);
    text-decoration: none;
    cursor: pointer;
}

#Testimonials {
    background-color: var(--bg-section);
    height: 100vh;
}


#Contact {
    padding-bottom: 5em;
}

.contact-container {
    margin-top: 4em;
    display: flex;
    gap: 1.5em;
}

.location {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    padding: 1.8em;

}


.location-info {
    display: flex;
    align-items: center;
    gap: 1em;
    /* cursor: pointer; */
}

.contact-icon {
    font-size: 1em;
    background-color: #dff3fc;
    color: var(--underLine);
    padding: 1em;
    border-radius: 500px;
    transition: 0.4s ease-out;

}

.location-info:hover .contact-icon {
    background-color: var(--underLine);
    color: #dff3fc;
    transition: 0.2s ease-out;

}

.info-details h2 {
    font-size: 1.4em;
    font-weight: 200;
    font-family: var(--ff-rale);
}

.info-details p {
    margin-top: 0.4em;
}

.form {
    width: 55%;
    padding: 1.8em;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    font-family: var(--ff-secondary);
}

input {
    margin-top: 0.6em;
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid rgb(199, 199, 199);
    width: 100%;
    margin-bottom: 1.5em;
}

.field-divider{
    display: flex;
    align-items: center;
    gap: 1.8em;
}

textarea{
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    margin-top: 0.6em;
    margin-bottom: 1.5em;
    padding: 3.5em 0;
}

.button-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-cont button{
    padding: 0.9em 2em;
    border: none;
    background-color: var(--underLine);
    color: white;
    font-size: 1em;
    border-radius: 5px;
    /* font-weight: 600; */
}