.white {
    color: #fff;
}

.tdn {
    text-decoration: none;
    color: var(--bs-link-color);
}

.sz-1 {
    font-size: 1.1em;
}

.ff-p {
    font-family: var(--ff-primary);
}

.ff-p {
    font-family: var(--ff-primary);
}

.heading-style {


    font-family: var(--ff-rale);
    color: var(--mtxt);
    font-size: 2em;
    /* margin-top: 1.5em; */

}