* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
    color: white;
    text-align: center;
    margin-bottom: 2em;
}

p {
    color: white;
    text-align: center;
    margin-top: 1em;
}

.hero {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh;
    padding: 1em 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8em;
}

.img-container img {
    cursor: pointer;
    margin-left: 1em;
    border-radius: 2rem;
    padding: 2em;
    transition: all ease-out 0.3s;
}

.img-container img:hover {
    box-shadow: 2px 43px 85px -16px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 2px 43px 85px -16px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 43px 85px -16px rgba(0, 0, 0, 0.65);
}

.hide {
    display: none !important;
    visibility: hidden;
}

#decision {
    margin-top: 3em;
}


/* Result page */

.result {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background-image: url(./images/popper.gif); */
    flex-direction: column;
}

.result button {
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 200px;
    border: none;
    font-weight: 800;
    opacity: 0.8;
    cursor: pointer;
}

.result button a {

    color: black;
}

.result button:hover {
    opacity: 1;
}

#Cpoints,
#Ppoints {
    color: aquamarine;
    font-weight: 400;
    font-size: 2rem;
}

.img-container p {
    font-size: 1.2rem;
}