* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --border: #48CAE4;
}

.bars {
    position: fixed;
    right: 0em;
    top: 0em;
    padding: 1em;
    width: 3em;
    text-align: center;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
    z-index: 999;
    font-size: 1.4em;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--border);
    position: sticky;
    top: 0;
    padding: 0 1em;
}

.nav-cont ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-cont ul li {
    padding: 1em;
}

.nav-cont ul li a {
    text-decoration: none;
    color: black;
}

.hero {
    padding: 1em 0.5em 0 0.5em;

}

.container {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    border: 3px solid var(--border);
    border-radius: 1em;
    margin-bottom: 1em;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 10em;
    align-items: center;
    max-width: 100%;
}

.box {
    text-align: center;
    border: 2px solid black;
    margin: 0.5em 0;
    border-radius: 1em;
    padding: 3.699em 5.2em;
    background-color: #cfcfcf;
    font-size: 1.6rem;
}

/*Level 2 nav css */

.nav {
    width: 100%;
    background-color: var(--bg-color);
    min-height: 100vh;
    border: 3px solid var(--border);
    border-radius: 1em;
    margin-bottom: 1em;
}

.nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgb(60, 0, 255);
    border-radius: 0.7em 0.7em 0 0;

}


.nav ul li a {
    text-decoration: none;
    color: black;
    color: white;
}

.nav ul li {
    padding: 1em;

}

.side-bar {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    /* border: 4px solid #4372ff; */
    border-radius: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.left {
    width: 20%;
    height: 90vh;
    border: 3px solid var(--border);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em 0 0 0.5em;
}

.Right {
    width: 80%;
    height: 90vh;
    border: 3px solid var(--border);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.5em 0.5em 0;
}

.card-layout {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    border-radius: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    border-radius: 10px;
}

.c-rows {
    /* border: 3px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 3rem;
    gap: 0.5em;

}

.c-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--border);
    width: 100%;
    height: 22vh;
    border-radius: 10px;
}

.B,
.D {
    width: 70%;
}

.E,
.C {
    width: 30%;
}


.holy-grail {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    border-radius: 1em;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.h-rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 3rem;
    gap: 0.5em;

}

.h-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--border);
    width: 100%;
    height: 22vh;
    border-radius: 10px;
}

.h-B,
.h-D {
    width: 10%;
    height: 30vh;
}

.h-C {
    width: 80%;
    height: 30vh;
}

@media only screen and (max-width: 480px) {

    .navigation {
        flex-direction: column;
    }

    .navigation img {
        align-self: flex-start;
        margin: 1em;
    }

    .nav-cont {
        display: none;
        height: 100vh;
    }

    .active {
        display: block;
    }

    .nav-cont ul {
        flex-direction: column;
    }

    .nav-cont ul li {
        font-size: 2em;
    }

    .bars {
        display: block;
    }

    .rows {
        flex-direction: column;
        gap: 0em;
    }

    .nav ul {
        flex-direction: column;
    }

    .side-bar {
        flex-direction: column;
    }

    .left {
        height: 45vh;
        width: 100%;
        border-radius: 0.5em 0.5em 0 0;
    }

    .Right {
        height: 45vh;
        width: 100%;
        border-radius: 0 0 0.5em 0.5em;
    }

    .cdirection {
        flex-direction: column;
    }

    .B,
    .E {
        width: 100%;
    }

    .h-B {
        display: none;
    }

    .h-C,
    .h-D {
        width: 100%;
    }
}